body{
  font-family: "Poppins", serif;
}

.pokemon-card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .details-button:hover {
    transform: translateY(-2px);
    transition: transform 0.2s ease;
  }
  